:root {
  --screen-background: #272934;
  --background: #36394a;
  --background-light: #4b4e60;
  --text-color: #ffffff;
  --primary: #128eba;
  --secondary: #22ab95;
  font-size: 16px;
}

body,
div,
fieldset,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--screen-background);
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
}

#root {
  display: flex;
  flex: 1;
}
