.container {
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 32px;
}

.header-text {
  margin: 0;
  position: relative;
  top: 5px;
}

.members {
  --columns: 1;
  display: grid;
  column-gap: 16px;
  row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
  .members {
    --columns: 2;
  }
}

@media screen and (min-width: 1280px) {
  .members {
    --columns: 4;
  }
}

.create-user-card {
  min-height: 160px;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px 16px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border:none;
}

.create-user-card:hover,
.create-user-card:focus {
  outline: none;
  opacity: 0.9;
}

.create-user-card img {
  width: 48px;
  height: 48px;
}
