.container {
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 32px;
}

.header-text {
  margin: 0;
  position: relative;
  top: 5px;
}

.members {
  --columns: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
  .members {
    --columns: 2;
  }
}

@media screen and (min-width: 1280px) {
  .members {
    --columns: 4;
  }
}

.user-card {
  min-height: 160px;
  background-color: var(--background);
  background-size: 600%;
  border-radius: 10px;
  padding: 10px 16px;
  padding: 5px;
  text-decoration: none;
  transition: background-size 0.2s, transform 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-avatar {
  --size: 64px;
  font-size: 2rem;
}
