.container {
  max-height: 100%;
  overflow-y: scroll;
}

.editor {
  min-height: 100%;
}

.editor textarea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.line-number {
  position: absolute;
  left: -25px;
  color: #cccccc;
  text-align: right;
  width: 60px;
}

