.project-name input {
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
}

.project-name input:hover {
    border-color: var(--screen-background);
}

.project-name input:focus {
  border-color: var(--primary);
}
