.scrollable {
  overflow: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--background);
}
