.hint {
  --arrow-distance: 10px;
  position: relative;
}

.tooltip-container {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: calc(100% + var(--arrow-distance));
  z-index: var(--z-tooltip);
}
.tooltip-container.right {
  top: 50%;
  left: calc(100% + var(--arrow-distance));
}

.tooltip {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f1012;
  padding: 5px;
  transform: translateX(-50%);
  z-index: var(--z-tooltip);
}
.tooltip.right {
  transform: translateY(-50%);
}

.tooltip-container::after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #0f1012;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hint:hover .tooltip-container {
  visibility: visible;
}
